body {
    background-color: #393E46;
    margin: auto;
    padding: 2%;
    font-family: "Mooli", sans-serif;
}

main {
    padding-top: 3rem;
    background-color: #EEEEEE;
    color: #393E46;
    border-radius: 10px;
}

/*Navbar*/
nav {
    background-color: #222831;
    height: 5rem;
    width: 95%;
    margin: 3% auto;
    border-radius: 60px;
    border: #393E46 solid 5px;
    display: flex;
    position: fixed;
    top: -0.5rem;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.nav-item {
    color: #EEEEEE;
    text-decoration: none;
    text-align: center;
    transition: 1s;
}

.nav-item:hover {
    color: #222831;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 1rem;
}

/*Pictures */
#ProfilePic {
    width: 10rem;
    height: 10rem;
    border: #222831 solid 5px;
    margin-right: 10rem;
    transition: 1s;
}

#ProfilePic:hover {
    border-radius: 100%;
}

#OneOfMyProjects {
    border: 2px solid #393E46;
    border-radius: 10px;
    display: block;
    margin: 6rem auto;
    width: 85%;
}

/*Aboutme*/
.MyProfile {
    padding: 2% 0.5%;
    display: flex;
    flex-wrap: wrap;

}


/*More*/
.More {
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    padding: 2%;
}

ul {
    font-size: 1.5rem;
}

ul a {
    text-decoration: none;
    color: #222831;
}

.socialmediaicon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
}

aside {
    margin-left: 1rem;
    border-radius: 10px;
    padding: 2%;
    background-color: #EEEEEE;
    color: #222831;
}