body {
    margin: 0;
    color: #EEEEEE;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #222831;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1rem;
    }
}

nav {
    position: fixed;
    color: #FFD369;
    margin-left: 2rem;
}

.Intro {
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(Media/Brown-Tank-Render.png);
    align-content: center;
    align-items: center;
    min-height: fit-content;
}

.Intro div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-height: fit-content;
    min-width: fit-content;
}

#PFP {
    height: 13rem;
    width: 13rem;
    margin-top: 0.5rem;
    border-radius: 5px;

}



.Projects-section {
    height: 100vh;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(Media/Prj.png);
    min-height: fit-content;


}

.Projects {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #FFD369;
    transition: 0.5s;
}

.projects-list {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Projects div {

    background-color: #222831;
    width: 15rem;
    height: 20rem;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
    min-height: fit-content;
    margin-top: 1rem;
}

.Projects:hover {
    transform: scale(105%);
}

.Projects img {
    height: 15rem;
    width: 15rem;
    border-radius: 10px;
    border-bottom: 2px solid #FFD369;
}

h2 {
    padding-top: 5rem;
    margin-top: 0;
    color: #EEEEEE;
}

#OtherProjectsbtn {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: #FFD369 solid 2px;
    color: #FFD369;
    text-decoration: none;
    transition: 0.5s;
}

#OtherProjectsbtn:hover {
    transform: translateY(-0.5em);
}

.resume {
    height: 100vh;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(Media/NewElevator.png);
    min-height: fit-content;
}

.resume table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    height: 90%;
}

.contact-me {
    height: 100vh;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(Media/Istak.png);
    min-height: fit-content;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.social {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    transition: 0.5s;
    border: #FFD369 2px solid;
}

.social:hover {
    transform: scale(105%);
}

#BackToHome {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: #FFD369 solid 2px;
    color: #FFD369;
    text-decoration: none;
    transition: 0.5s;
    align-self: center;
}